---
credentials:
-   credential_type:
        kind: cloud
        name: AAP25 Install ssh key
        type: credential_type
    description: ''
    inputs:
        password: "{{ users.aap25install.sshkey }}"
    name: AAP25 install ssh key
    natural_key:
        credential_type:
            kind: cloud
            name: AAP25 Install ssh key
            type: credential_type
        name: AAP25 install ssh key
        organization: null
        type: credential
    organization: null
    user:
        type: user
        username: admin
-   credential_type:
        kind: ssh
        name: Machine
        type: credential_type
    description: automation user
    inputs:
        become_method: sudo
        become_username: ''
        ssh_key_data: "{{ users.automation.sshkey }}"
        username: "{{ users.automation.user }}"
    name: ansiblesvc
    natural_key:
        credential_type:
            kind: ssh
            name: Machine
            type: credential_type
        name: "{{ users.automation.user }}"
        organization: null
        type: credential
    organization: null
    user:
        type: user
        username: admin
-   credential_type:
        kind: cloud
        name: Amazon Web Services
        type: credential_type
    description: ''
    inputs:
        password: "{{ aws.secret }}"
        username: "{{ aws.access }}"
    name: AWS Creds
    natural_key:
        credential_type:
            kind: cloud
            name: Amazon Web Services
            type: credential_type
        name: AWS Creds
        organization:
            name: Default
            type: organization
        type: credential
    organization:
        name: Default
        type: organization
-   credential_type:
        kind: cloud
        name: VMware vCenter
        type: credential_type
    description: ''
    inputs:
        host: "{{ compute6.host }}"
        password: "{{ compute6.pass }}"
        username: root
    name: "{{ compute6.host }} esxi"
    natural_key:
        credential_type:
            kind: cloud
            name: VMware vCenter
            type: credential_type
        name: "{{ compute6.host }} esxi"
        organization:
            name: Default
            type: organization
        type: credential
    organization:
        name: Default
        type: organization
-   credential_type:
        kind: cloud
        name: VMware vCenter
        type: credential_type
    description: ''
    inputs:
        host: "{{ compute7.host }}"
        password: "{{ compute7.pass }}"
        username: root
    name: "{{ compute7.host }} esxi"
    natural_key:
        credential_type:
            kind: cloud
            name: VMware vCenter
            type: credential_type
        name: "{{ compute7.host }} esxi"
        organization:
            name: Default
            type: organization
        type: credential
    organization:
        name: Default
        type: organization
-   credential_type:
        kind: cloud
        name: Docker.io login creds type
        type: credential_type
    description: ''
    inputs:
        password: "{{ docker.pass }}"
        username: "{{ docker.user }}"
    name: Docker.io creds
    natural_key:
        credential_type:
            kind: cloud
            name: Docker.io login creds type
            type: credential_type
        name: Docker.io creds
        organization: null
        type: credential
    organization: null
    user:
        type: user
        username: admin
-   credential_type:
        kind: ssh
        name: Machine
        type: credential_type
    description: ''
    inputs:
        become_method: ''
        become_username: ''
        password: "{{ users.admin.pass }}"
        ssh_key_data: "{{ users.admin.sshkey }}"
        username: root
    name: esxi vms
    natural_key:
        credential_type:
            kind: ssh
            name: Machine
            type: credential_type
        name: esxi vms
        organization:
            name: Default
            type: organization
        type: credential
    organization:
        name: Default
        type: organization
-   credential_type:
        kind: ssh
        name: Machine
        type: credential_type
    description: updated to use ansiblesvc ssh keys
        for root and firstboot
    inputs:
        become_method: ''
        become_username: ''
        password: "{{ users.admin.pass }}"
        ssh_key_data: "{{ users.admin.sshkey }}"
        username: "{{ users.admin.user }}"
    name: esxi vms 20230728
    natural_key:
        credential_type:
            kind: ssh
            name: Machine
            type: credential_type
        name: esxi vms 20230728
        organization: null
        type: credential
    organization: null
    user:
        type: user
        username: admin
-   credential_type:
        kind: cloud
        name: Google Compute Engine
        type: credential_type
    description: ''
    inputs:
        project: "{{ gcp.project }}"
        ssh_key_data: "{{ gcp.sshkey }}"
        username: "{{ gcp.user }}"
    name: gcp creds
    natural_key:
        credential_type:
            kind: cloud
            name: Google Compute Engine
            type: credential_type
        name: gcp creds
        organization: null
        type: credential
    organization: null
    user:
        type: user
        username: admin
-   credential_type:
        kind: insights
        name: Insights
        type: credential_type
    description: ''
    inputs:
        password: "{{ rhsm.pass }}"
        username: "{{ rhsm.user }}"
    name: Insights Creds
    natural_key:
        credential_type:
            kind: insights
            name: Insights
            type: credential_type
        name: Insights Creds
        organization:
            name: Default
            type: organization
        type: credential
    organization:
        name: Default
        type: organization
-   credential_type:
        kind: ssh
        name: Machine
        type: credential_type
    description: ''
    inputs:
        become_method: ''
        become_username: ''
        password: "{{ raspberrypi.pass }}"
        username: "{{ raspberrypi.user }}"
    name: Raspberry Pi Creds
    natural_key:
        credential_type:
            kind: ssh
            name: Machine
            type: credential_type
        name: Raspberry Pi Creds
        organization: null
        type: credential
    organization: null
    user:
        type: user
        username: admin
-   credential_type:
        kind: cloud
        name: Redhat Automation Hub token cred type
        type: credential_type
    description: ''
    inputs:
        api_token: "{{ automationapi.token }}"
    name: Redhat Automation Hub Creds
    natural_key:
        credential_type:
            kind: cloud
            name: Redhat Automation Hub token cred type
            type: credential_type
        name: Redhat Automation Hub Creds
        organization: null
        type: credential
    organization: null
    user:
        type: user
        username: admin
-   credential_type:
        kind: cloud
        name: RHSM user pass cred type
        type: credential_type
    description: ''
    inputs:
        password: "{{ rhsm.pass }}"
        username: "{{ rhsm.user }}"
    name: redhat cdn login
    natural_key:
        credential_type:
            kind: cloud
            name: RHSM user pass cred type
            type: credential_type
        name: redhat cdn login
        organization: null
        type: credential
    organization: null
    user:
        type: user
        username: admin
-   credential_type:
        kind: cloud
        name: Redhat API token  cred type
        type: credential_type
    description: '2020-03-11'
    inputs:
        api_token: "{{ rhsm.token }}"
    name: redhat offline token
    natural_key:
        credential_type:
            kind: cloud
            name: Redhat API token  cred type
            type: credential_type
        name: redhat offline token
        organization: null
        type: credential
    organization: null
    user:
        type: user
        username: admin
-   credential_type:
        kind: ssh
        name: Machine
        type: credential_type
    description: ''
    inputs:
        become_method: ''
        become_username: ''
        ssh_key_data: "{{ users.admin.sshkey }}"
        username: "{{ users.admin.user }}"
    name: root vm 2025 ssh key only
    natural_key:
        credential_type:
            kind: ssh
            name: Machine
            type: credential_type
        name: root vm 2025 ssh key only
        organization: null
        type: credential
    organization: null
    user:
        type: user
        username: admin
-   credential_type:
        kind: cloud
        name: Red Hat Satellite 6
        type: credential_type
    description: ''
    inputs:
        host: "https://{{ sat6.host }}"
        password: "{{ sat6.pass }}"
        username: "{{ sat6.user }}"
    name: Satellite Secret
    natural_key:
        credential_type:
            kind: cloud
            name: Red Hat Satellite 6
            type: credential_type
        name: Satellite Secret
        organization:
            name: Default
            type: organization
        type: credential
    organization:
        name: Default
        type: organization
-   credential_type:
        kind: cloud
        name: Super Secret Admin Password Type
        type: credential_type
    description: Shhhh!
    inputs:
        password: "{{ users.admin.pass }}"
    name: Super Secret Admin Password
    natural_key:
        credential_type:
            kind: cloud
            name: Super Secret Admin Password Type
            type: credential_type
        name: Super Secret Admin Password
        organization: null
        type: credential
    organization: null
    user:
        type: user
        username: admin
-   credential_type:
        kind: vault
        name: Vault
        type: credential_type
    description: ''
    inputs:
        vault_id: ''
        vault_password: "{{ vault_pass }}"
    name: Unlock Vault
    natural_key:
        credential_type:
            kind: vault
            name: Vault
            type: credential_type
        name: Unlock Vault
        organization:
            name: Default
            type: organization
        type: credential
    organization:
        name: Default
        type: organization
...
