---
credentials:
-   credential_type:
        kind: ssh
        name: Machine
        type: credential_type
    description: automation user
    inputs:
        become_method: sudo
        become_username: ''
        ssh_key_data: "{{ users.automation.sshkey }}"
        username: "{{ users.automation.user }}"
    name: ansiblesvc
    natural_key:
        credential_type:
            kind: ssh
            name: Machine
            type: credential_type
        name: "{{ users.automation.user }}"
        organization: null
        type: credential
    organization: null
    user:
        type: user
        username: admin
