---
projects:
-   allow_override: false
    credential: null
    default_environment: null
    description: ''
    local_path: _9__redhat_lab
    name: Redhat_Lab
    natural_key:
        name: Redhat_Lab
        organization:
            name: Default
            type: organization
        type: project
    organization:
        name: Default
        type: organization
    related:
        notification_templates_error: []
        notification_templates_started: []
        notification_templates_success: []
    scm_branch: ''
    scm_clean: false
    scm_delete_on_update: true
    scm_refspec: ''
    scm_track_submodules: false
    scm_type: git
    scm_update_cache_timeout: 0
    scm_update_on_launch: false
    scm_url: https://github.com/syspimp/ansible-repo
    signature_validation_credential: null
    timeout: 0
-   allow_override: false
    credential: null
    default_environment: null
    description: ''
    local_path: _10__provisioning
    name: Provisioning
    natural_key:
        name: Provisioning
        organization:
            name: Default
            type: organization
        type: project
    organization:
        name: Default
        type: organization
    related:
        notification_templates_error: []
        notification_templates_started: []
        notification_templates_success: []
    scm_branch: ''
    scm_clean: false
    scm_delete_on_update: false
    scm_refspec: ''
    scm_track_submodules: false
    scm_type: git
    scm_update_cache_timeout: 0
    scm_update_on_launch: false
    scm_url: https://github.com/syspimp/ansible-repo
    signature_validation_credential: null
    timeout: 0
-   allow_override: false
    credential: null
    default_environment: null
    description: ''
    local_path: _11__applications
    name: Applications
    natural_key:
        name: Applications
        organization:
            name: Default
            type: organization
        type: project
    organization:
        name: Default
        type: organization
    related:
        notification_templates_error: []
        notification_templates_started: []
        notification_templates_success: []
    scm_branch: ''
    scm_clean: true
    scm_delete_on_update: true
    scm_refspec: ''
    scm_track_submodules: false
    scm_type: git
    scm_update_cache_timeout: 0
    scm_update_on_launch: false
    scm_url: https://github.com/syspimp/ansible-repo
    signature_validation_credential: null
    timeout: 0
-   allow_override: false
    credential: null
    default_environment:
        name: Hybrid EE
        type: execution_environment
    description: ''
    local_path: _42__aap_repo
    name: AAP Repo
    natural_key:
        name: AAP Repo
        organization:
            name: Default
            type: organization
        type: project
    organization:
        name: Default
        type: organization
    related:
        notification_templates_error: []
        notification_templates_started: []
        notification_templates_success: []
    scm_branch: ''
    scm_clean: false
    scm_delete_on_update: false
    scm_refspec: ''
    scm_track_submodules: false
    scm_type: git
    scm_update_cache_timeout: 0
    scm_update_on_launch: false
    scm_url: https://github.com/syspimp/aap-repo
    signature_validation_credential: null
    timeout: 0
-   allow_override: false
    credential: null
    default_environment: null
    description: ''
    local_path: _92__antminer
    name: antminer
    natural_key:
        name: antminer
        organization:
            name: Default
            type: organization
        type: project
    organization:
        name: Default
        type: organization
    related:
        notification_templates_error: []
        notification_templates_started: []
        notification_templates_success: []
    scm_branch: ''
    scm_clean: false
    scm_delete_on_update: false
    scm_refspec: ''
    scm_track_submodules: false
    scm_type: git
    scm_update_cache_timeout: 0
    scm_update_on_launch: false
    scm_url: https://github.com/syspimp/antminer
    signature_validation_credential: null
    timeout: 0
-   allow_override: false
    credential: null
    default_environment: null
    description: ''
    local_path: _101__aap_config
    name: AAP config
    natural_key:
        name: AAP config
        organization:
            name: Default
            type: organization
        type: project
    organization:
        name: Default
        type: organization
    related:
        notification_templates_error: []
        notification_templates_started: []
        notification_templates_success: []
    scm_branch: ''
    scm_clean: false
    scm_delete_on_update: false
    scm_refspec: ''
    scm_track_submodules: false
    scm_type: git
    scm_update_cache_timeout: 0
    scm_update_on_launch: true
    scm_url: https://github.com/syspimp/aap_configuration_template.git
    signature_validation_credential: null
    timeout: 0
...
